/* Default Formatting */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
}

/* Removal of List style */
li {

list-style:none;

}

/* Remove of link style */
a:link {
    color:black;
}

/* visited link */
a:visited {
    color:black;
}

/* mouse over link */
a:hover {
    color:black;
}

/* selected link */
a:active {
    color:black;
}

body {
	
}

.jumbotron {

width:auto;
height:400px;
background-image: url("../images/thefitterwaylogo.jpg");
background-size:100% 100%;
background-repeat: no-repeat;

}

