/* Default Formatting */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
}

/* Removal of List style */
li {

list-style:none;

}

/* Remove of link style */
a:link {
    color:black;
}

/* visited link */
a:visited {
    color:black;
}

/* mouse over link */
a:hover {
    color:black;
}

/* selected link */
a:active {
    color:black;
}

body {
	margin:0 auto;
}

.mainHeader{
    width: 1200px;
    height: 400px;
    background-image:url('../images/mainHeader.png');
}

.logo {
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.headerText{
    text-align:center;
    margin-top:20px;
	font-size: 20px;
	color:#fff;
}

.appDownload{
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

/*Carousel style */
#banner {
 


}

.carousel-inner > .item > img {

    width: 100%;
    height:auto;

}

#subscribe {

    background-color:black;
}

#subscribe h1, label {

    color:white;

}
